:root {
    --color-primary: #001A6E;
    --color-secondary: #074799;
    --color-tertiary: #009990;
    --font-heading: "Libre Caslon Text", serif;
    --font-text: "Quicksand", sans-serif;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #F6F4F0;
    color: #001A6E;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.heroo {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('Slike/L_background.png') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #001A6E;
}

.heroo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
}

.heroo h1 {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700;
    font-size: 4rem;
    max-width: 800px;
    z-index: 1; 
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1.2s ease-out forwards;
    padding: 20px;
}

.heroo h2 {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700;
    max-width: 800px;
    z-index: 1; 
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1.2s ease-out forwards;
    padding: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .heroo h1 {
        font-size: 2.5rem;
    }
}

.card {
    margin-bottom: 20px;
    border-color: #001A6E;
}

.card img {
    height: 300px;
    object-fit: cover;
}

.container-section {
    background-color: #F6F4F0;
}

.footer {
    background-color: #001A6E;
    color: white;
    padding: 20px;
    text-align: center;
}

.breadcrumb {
    font-family: Arial, sans-serif;
    padding: 10px;
}

.breadcrumb ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.breadcrumb li {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.breadcrumb a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
}

.breadcrumb a:hover {
    color: #0056b3;
}

.breadcrumb li:not(:last-child)::after {
    content: "›";
    margin: 0 10px;
    color: #666;
}

.breadcrumb .active {
    font-weight: bold;
    color: #333;
}

.home-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 40px;
    color: #074799;
    text-decoration: none;
}
